<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.mapper.BookMapper">
	<resultMap id="BaseResultMap" type="com.oracle.web.bean.Book">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="bname" jdbcType="VARCHAR" property="bname" />
		<result column="price" jdbcType="VARCHAR" property="price" />
		<result column="chubanshe" jdbcType="VARCHAR" property="chubanshe" />
		<result column="zhuangtai" jdbcType="VARCHAR" property="zhuangtai" />
		<result column="jieshuren" jdbcType="VARCHAR" property="jieshuren" />
		<result column="f_id" jdbcType="INTEGER" property="fId" />
	</resultMap>


	<resultMap id="BaseResultMap2" type="com.oracle.web.bean.SubBook">
		<id column="bid" jdbcType="INTEGER" property="bid" />
		<result column="bname" jdbcType="VARCHAR" property="bname" />
		<result column="price" jdbcType="VARCHAR" property="price" />
		<result column="chubanshe" jdbcType="VARCHAR" property="chubanshe" />
		<result column="zhuangtai" jdbcType="VARCHAR" property="zhuangtai" />
		<result column="jieshuren" jdbcType="VARCHAR" property="jieshuren" />

		<!--映射对象:关联对象School -->
		<association property="fenLei" javaType="Fenlei">
			<id property="fId" column="f_id" />
			<result property="fname" column="fname" />
		</association>
	</resultMap>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete
		from book where bid in
		<foreach item="arr" collection="array" index="no" open="("
			separator="," close=")"> #{arr} </foreach>
	</delete>


	<insert id="insert" parameterType="com.oracle.web.bean.Book">

		insert into book (bid,
		bname,
		price, chubanshe, zhuangtai,
		jieshuren, f_id)
		values
		(#{bid,jdbcType=INTEGER},
		#{bname,jdbcType=VARCHAR},
		#{price,jdbcType=VARCHAR},
		#{chubanshe,jdbcType=VARCHAR},
		#{zhuangtai,jdbcType=VARCHAR},
		#{jieshuren,jdbcType=VARCHAR},
		#{fId,jdbcType=INTEGER})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.oracle.web.bean.Book">

		update book
		set
		bname = #{bname,jdbcType=VARCHAR},
		price = #{price,jdbcType=VARCHAR},
		chubanshe =
		#{chubanshe,jdbcType=VARCHAR},
		zhuangtai =
		#{zhuangtai,jdbcType=VARCHAR},
		jieshuren =
		#{jieshuren,jdbcType=VARCHAR},
		f_id = #{fId,jdbcType=INTEGER}
		where bid
		= #{bid,jdbcType=INTEGER}
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap2">

		select bid, bname, price, chubanshe, zhuangtai,
		jieshuren,
		f_id
		from book
		where bid = #{bid,jdbcType=INTEGER}
	</select>
	<select id="selectAll" resultMap="BaseResultMap2">

		select bid, bname,
		price,
		chubanshe, zhuangtai, jieshuren, f_id
		from book
	</select>

	<select id="selectWithOneSQL" resultMap="BaseResultMap2">
		select * from
		book,fenlei where book.f_id=fenlei.f_id
	</select>

	<select id="showByPageHelper" resultMap="BaseResultMap2">
		select *from
		book,fenlei
		where book.f_id=fenlei.f_id
	</select>

	<select id="queryBooks" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select * from book where bid in
		<foreach item="arr" collection="array" index="no" open="("
			separator="," close=")">
			#{arr}
		</foreach>
	</select>

	<select id="selectAll2" resultMap="BaseResultMap">
		select * from book
	</select>

</mapper>